html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Raleway;
	font-weight: 100;
	color: #231F20;
}

.row {
	margin-bottom: 15px;
}

a {
	text-decoration: none;
	color: #EC1D25;
}

a:hover {
	text-decoration: none;
	color: #231F20;
}

#left-menu {
	z-index: 100;
	position:fixed;
	display: block;
	margin-top: 20%;
	margin-left: -30px;
	background-color: rgba(0,0,0,0.7);
	padding: 15px;
	display: none;
}

#left-menu ul {
	margin-bottom: -5px;
}

#left-menu ul a{
	opacity: 0.2;  
	color: #FFF;
}

#left-menu ul a:hover {
	opacity: 1;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

#left-menu li.active {
	list-style: url(/incubator/images/active-dot.png);
}

#left-menu li.active a{
	opacity: 1;	
}

#left-menu li {
	list-style: url(/incubator/images/default-dot.png);
}

.section {
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 600px;
	z-index: -1;
}

.background {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#printer {
	background-image: url(/incubator/images/DSCN0099.JPG);
}

#space {
	opacity: 0.6;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.about {
	min-height: 300px;
	padding: 5px;
}

.description-section {
	width: 100%;
	text-align: center;
	font-weight: 400;
}

#map-canvas {
	min-height: 400px;
	margin: 0;
	padding: 0;
}

.map {
	min-height: 300px;
}

#infowindow {
	width: 200px;
	height: 70px;
	font-size: 14px;
}

.people {
	width: 200px;
	display: block;
	margin: 20px auto 60px;
	border: 2px solid #FF454C;
	border-radius: 182px;
}

.people:hover {
	border: 2px solid #231F20;
	cursor: pointer;
	
	filter: none;
	
}

.people-bios {
	background-color: #eee;
	padding: 5px;
}

.logo {
	width: 80%;
	margin: 20px auto;
	display: block;
	border: 1px solid #fff;
	box-shadow: 0 0 5px #231F20;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.logo:hover {
	border: 1px solid #231F20;
	cursor: pointer;
}

.contact {
	padding: 5px;
}

.application-section {
	width: 600px;
	margin: 80px auto;
}

form {
	width: 600px;
	font-weight: 400;
}

input[type=text] {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #231F20;
	height: 30px;
	font-size: 15px;
	margin: 10px;
	width: 90%;
	background-color: #EEE;
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
}

table {
	width: 600px;
}

textarea {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #231F20;
	background-color: #EEE;
	outline: none;
	padding: 12px;
	margin: 10px;
	width: 92%;
	max-width: 92%;
	max-height: 300px;
}

#submit {
	background-color: #12948a;
	border-color: #45C9C0;
}

#submit:hover {
	border-color: #231F20;
}

footer {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url(/incubator/images/DSCN0099.JPG);
	color: #FFF;
	height: 20%;
}

.overlay {
	background-color: rgba(0,0,0,0.6);
	color: #FFF;
	height: 50%;
	overflow: hidden;
	font-size: 60px;
	margin-bottom: 150px;
}

.overlay .title {
	text-align: center;
	font-size: 70%;
	margin: 10px;
}

.title-main {
	text-align: center;
	font-size: 50px;
	margin: 20px;
	color: #231F20;
}

.main-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	max-width: 180px;
	min-width: 100px;
}

/* Button */
.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #EC1D25;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #ff454c;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	height: 50px;
	line-height: 50px;
	width: 200px;
	text-decoration: none;
	text-align: center;
}

.button:hover {
	border-color: #231F20;
}

.button:active {
	text-decoration: none;
}

.apply {
	margin-bottom: 140px;
}

#startup-package {
	margin-bottom: 140px;
}

.tile {
	padding: 10px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin: 22px;
	font-weight: 400;
}

.incubation {
	background-color: #12948a;
}

.int-property {
	background-color: #12948a;
}

.corp-legal {
	background-color: #12948a;
}

.accounting {
	background-color: #12948a;
}

.banking {
	background-color: #12948a;
}

.lab-space {
	background-color: #12948a;
}

.grants {
	background-color: #12948a;
}

.modal-body {
	font-weight: 400;
}