html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Raleway;
	font-weight: 100;
	color: #231F20;
}

a {
	text-decoration: none;
	color: #EC1D25;
	outline: 0;
}

a:hover {
	text-decoration: none;
	color: #231F20;
}

/*Row CSS*/
.shadow-top {
	-webkit-box-shadow: 0 -8px 5px -10px black;
	-moz-box-shadow: 0 -8px 5px -10px black;
	box-shadow: 0 -8px 5px -10px black;
}

.shadow-bottom {
	-webkit-box-shadow: 0 10px 5px -10px black;
	-moz-box-shadow: 0 10px 5px -10px black;
	box-shadow: 0 10px 5px -10px black;
}

img.gray {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.gray:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
}

/* Logo Containers for rows of logos*/
.logo-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 100%;
	max-width: 425px;
}

.logo-container img {
	margin: 5px;
	margin-right: 10px;
	margin-left: 10px;
	height: 35px;
}

.logo-container.tenant {
	max-width: 600px;
}

/* LEFT MENU *HIDDEN FOR NOW* */

#left-menu {
	z-index: 100;
	position: fixed;
	display: block;
	margin-top: 20%;
	margin-left: -30px;
	background-color: rgba(0,0,0,0.7);
	padding: 15px;
	display: none;
}

#left-menu ul {
	margin-bottom: -5px;
}

#left-menu ul a {
	opacity: 0.2;
	color: #FFF;
}

#left-menu ul a:hover {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#left-menu li.active {
	list-style: url(/incubator/images/active-dot.png);
}

#left-menu li.active a {
	opacity: 1;
}

#left-menu li {
	list-style: url(/incubator/images/default-dot.png);
}

/* CANVAS BACKGROUNDS */
.background, footer {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background.printer, footer {
	background-image: url(/incubator/images/DSCN0101.JPG);
}

footer {
	color: #FFF;
	height: 20%;
}

/* SECTIONS */

.main-description {
	background-color: #eee;
	border-bottom: 1px solid #dddddd;
	min-height: 300px;
}

.main-description p {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: justify;
	font-weight: 400;
}

.description-text {
	width: 100%;
	text-align: center;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.description-text p {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.tenants {
	min-height: 200px;
}

ul.current-tenants li a {
	opacity: 1;
}

.space img {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	opacity: 0.6;
}

#map-canvas {
	min-height: 300px;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.infowindow {
	width: 400px;
	height: 100%;
	font-size: 14px;
}

.infowindow img {
	width: 50%;
	float: right;
}

.infowindow p {
	width: 40%;
	float: left;
}

.people-bios {
	background-color: #eee;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 5px;
}

.people-bios p {
	text-align: center;
	font-weight: 400;
	margin-bottom: 60px;
}

.people {
	width: 150px;
	display: block;
	margin: 40px auto 20px;
	border: 2px solid #FFFFFF;
	border-radius: 182px;
}

.people:hover {
	cursor: pointer;
	filter: none;
	outline: 0;
}

.people a {
	outline: 0;
}

.logo {
	width: 100%;
	margin: 20px auto 0 auto;
	display: block;
	border: 1px solid #fff;
	box-shadow: 0 0 5px #231F20;
	/*-webkit-border-radius: 20px;
	 -moz-border-radius: 20px;
	 border-radius: 20px;*/
}

.logo:hover {
	border: 1px solid #231F20;
	cursor: pointer;
}

.provider {
	width: 200px;
	border: 1px solid #DDDDDD
}

.contact {
	padding: 5px;
}

.application-section {
	width: 600px;
	margin: 80px auto;
}

form {
	max-width: 500px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	font-weight: 400;
}

textarea {max-width 500px;
	width: 100%;
	min-width: 100%;
}

form button {
	margin-top: 10px;
}

button.red {
	color: #FF454C;
}

#submit {
	background-color: #12948a;
	border-color: #45C9C0;
}

#submit:hover {
	border-color: #231F20;
}

.overlay {
	background-color: rgba(0,0,0,0.6);
	color: #FFF;
	height: 50%;
	overflow: hidden;
	font-size: 60px;
	margin-bottom: 150px;
}

.overlay .title {
	text-align: center;
	font-size: 70%;
	margin: 10px;
}

.title-main {
	text-align: center;
	font-size: 50px;
	margin: 20px;
	color: #231F20;
}

@media (max-width: 767px) {
	.title-main {
		font-size: 25px;
	}
}

.main-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	max-width: 180px;
	min-width: 100px;
}

/* Button */
.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #EC1D25;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #ff454c;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	height: 50px;
	line-height: 50px;
	width: 200px;
	text-decoration: none;
	text-align: center;
}

.button:hover {
	border-color: #231F20;
}

.button:active {
	text-decoration: none;
}

.apply {
	margin-bottom: 140px;
}

#startup-package {
	margin-bottom: 140px;
}

.tile {
	padding: 10px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	/*-webkit-border-radius: 20px;
	 -moz-border-radius: 20px;
	 border-radius: 20px;*/
	margin: 10px;
	font-weight: 400;
}

.incubation {
	background-color: #FF454C;
}

.int-property {
	background-color: #FF454C;
}

.corp-legal {
	background-color: #FF454C;
}

.accounting {
	background-color: #FF454C;
}

.banking {
	background-color: #FF454C;
}

.lab-space {
	background-color: #FF454C;
}

.grants {
	background-color: #FF454C;
}

.modal-body {
	font-weight: 400;
}

/* TAB CSS */

/* root element for tabs  */
ul.css-tabs {
	margin-top: 20px;
	list-style: none;
	text-align: center;
	-webkit-padding-start: 0px;
}

/* single tab */
ul.css-tabs li {
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
	max-width: 80px;
	list-style-type: none;
	display: inline-block;
	color: #FF454C;
	font-weight: 400;
}

/* link inside the tab. uses a background image */

.tabs {
}

ul.css-tabs a {
	outline: 0;
	float: left;
	font-size: 13px;
	display: block;
	padding: 10px 10px;
	margin: 8px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
	border-bottom: 2px solid #FFFFFF;
	opacity: 0.5;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
}

ul.css-tabs a img {
	margin: 10px;
	margin-bottom: 15px;
}

ul.css-tabs a:hover {
	color: #FF454C;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

/* selected tab */
ul.css-tabs a.current {
	border-bottom: 2px solid #FF454C;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	color: #FF454C;
}

/* tab pane */

.css-panes div {
	border-top: 2px solid #FFFFFF;
	display: none;
	min-height: 150px;
	padding: 15px 20px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #dddddd;
	font-weight: 400;
}

.css-panes div p {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	max-width: 404px;
	width: 100%;
}

